body {
	font-size:16px;
}


/* styles for the header */

#header-nav {
	background-color:#0a9edb;
	border-radius: 0px;
	border: 0px;
}

.navbar-brand span {
	font-size: 1.5em;
	text-shadow: 2px 2px 2px #ccc;
	color:white;
	font-weight: 500;
}

#nav-list {
	padding: 5px 0px 5px;
	font-size: 1.2em;
	text-align: center;
}

#nav-list a {
	border: 1px solid black;
}
#nav-list a:hover {
	background: #0684b9;
}


/* Button and collapsable menu styling */



/* DESKTOP AND TABLET DISPLAY*/



/* MOBILE DEVICES*/



/* EXTRA SMALL DEVICES*/